.gearsBackground {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.gearsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 360px !important;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 10px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

.gearsSvg {
    width: 100%;
    height: 100%;
}

.gear {
    transform-origin: center;
    transform-box: fill-box;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    100% {
        transform: rotate(-360deg);
    }
}

.gearSlow {
    animation: spin 10s linear infinite;
}

.gearMedium {
    animation: spinReverse 20s linear infinite;
}

.gearFast {
    animation: spin 15s linear infinite;
}
