.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.listContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrowWrapper {
    width: 32px;
}

.button {
    cursor: pointer;
    height: 72px;
    display: block;
    border-radius: 16px;
    padding: 4px;
    transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.07);
    opacity: 0.8;
}

.list {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    min-height: 220px;
}

.item {
    width: 200px;
    margin: 0;
    justify-content: center;
    justify-self: center;
}

@media (max-width: 800px) {
    .list {
        width: 100%;
        gap: 10px;
    }
    .item {
        width: 150px;
    }
    .button {
        height: 48px;
    }
}

@media (max-width: 380px) {
    .item {
        width: 120px;
    }
    .button {
        height: 48px;
    }
}