.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 150px;
}

.title {
    font-size: 32px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .title {
        font-size: 24px;
    }
    .logo {
        width: 64px;
    }
}