.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.containerInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 24px;
}

.miniContainerInfo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  width: 100%;
}

.countExperiment {
  padding-bottom: 10px;
  align-self: end;
}

.info {
  font-weight: bold;
  width: 60%;
  max-width: 400px;
}

.draggablezone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #ebd4ff;
  background: radial-gradient(circle, rgba(235, 212, 255, 1) 0%, rgba(193, 148, 233, 1) 79%);
  opacity: 0.7;
  border-radius: 50%;
}

.checkButton {
  border: 1px solid white;
  padding: 16px 32px;
  font-size: 24px;
  border-radius: 20px;
  font-weight: bold;
  background: #c782ff;
  background: linear-gradient(56deg, rgba(199, 130, 255, 1) 0%, rgba(148, 207, 233, 1) 100%);
}

.checkButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.flask {
  position: absolute;
  width: 150px;
  bottom: -5%;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  gap: 20px;
}

.modalInfoRecipe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipeName {
  font-weight: bold;
}

.modalImage {
  align-self: center;
  width: 70%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.modalButton {
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 20px;
  font-weight: bold;
  background: #c782ff;
  background: linear-gradient(56deg, rgba(199, 130, 255, 1) 0%, rgba(148, 207, 233, 1) 100%);
}

@media (max-width: 800px) {
  .draggablezone {
    width: 72px;
    height: 72px;
  }
  .info {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .miniContainerInfo {
    font-size: 18px;
  }
}