html {
  background: #c099d1;
  background: radial-gradient(circle, rgba(192, 153, 209, 1) 71%, rgba(148, 187, 233, 1) 100%);
}

body {
  color: white;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 24px;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  font-family: "Philosopher", sans-serif;
  color: white;
}

button:hover {
  cursor: pointer;
  color: aliceblue;
}

p {
  margin: 0;
}