html {
  background: #474b4c;
}

body {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  font-family: "Roboto Mono", monospace;
  color: white;
}

button:hover {
  cursor: pointer;
  color: aliceblue;
}

p {
  margin: 0;
}
